---
import TextAnimation from '@react/TextAnimation.tsx';
const { class: className } = Astro.props;

interface Props {
  class?: string;
}
---

<section class:list={['w-full py-12 md:py-24 lg:py-32', className]}>
  <div class='container space-y-4 px-4'>
    <div
      class='flex flex-col items-center justify-center space-y-2 text-center'>
      <TextAnimation client:load />
      <p class='mx-auto md:text-xl'>
        Crafting digital experiences through beautiful design and elegant code.
      </p>
    </div>
  </div>
</section>
