---
import { ModeToggle } from '@react/ModeToggle';
import { NavigationMenuDemo } from '@react/NavMenu';
---

<nav class='flex items-center justify-between border-b px-6 py-2'>
  <a href='/'>
    <span
      class='rounded-md px-3 py-1.5 text-xl font-semibold tracking-tighter hover:bg-accent'>
      bassim
    </span>
  </a>
  <div class='flex h-full w-full justify-center'>
    <NavigationMenuDemo client:load />
  </div>
  <ModeToggle client:load />
</nav>
