---
import { ModeToggle } from "@/components/ModeToggle";
import { NavigationMenuDemo } from "@/components/NavMenu";
---

<nav class="flex items-center justify-between px-6 py-2 border-b">
  <a href="/">
    <span class="text-xl font-semibold tracking-tighter">bassim</span>
  </a>
  <div class="flex w-full h-full justify-center">
    <NavigationMenuDemo client:load />
  </div>
  <ModeToggle client:load />
</nav>
