---
import { ModeToggle } from '@/components/ModeToggle';
import { NavigationMenuDemo } from '@/components/NavMenu';
---

<nav class="flex items-center justify-between px-6 py-2 border-b">
    <span class="text-2xl font-semibold tracking-tight">Astro</span>
    <div class="flex w-full h-full justify-center">
        <NavigationMenuDemo client:load />
    </div>
    <ModeToggle client:load />
</nav>