---
import '../styles/global.css';
const { description, title, class: className } = Astro.props;

interface Props {
  description: string;
  title: string;
  class: string;
}
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>
    <slot name='head' />
  </head>
  <body class:list={['min-h-dvh', className]}>
    <slot />
  </body>
</html>
